<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>员工绑定管理</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="../plugins/angularjs/angular.min.js">  </script>
    <!-- 分页组件开始 -->
    <script src="../plugins/angularjs/pagination.js"></script>
    <link rel="stylesheet" href="../plugins/angularjs/pagination.css">
    <!-- 分页组件结束 -->


    <script type="text/javascript" src="../js/base.js">  </script>
    <script type="text/javascript" src="../js/service/LsUserService.js">  </script>
    <script type="text/javascript" src="../js/controller/baseController.js">  </script>
    <script type="text/javascript" src="../js/controller/LsUserController.js">  </script>

</head>
<body class="hold-transition skin-red sidebar-mini" ng-app="fhjt" ng-controller="LsUserController" >
<!-- .box-body -->
<div class="box-header with-border">
    <h3 class="box-title">员工绑定管理</h3>
</div>

<div class="box-body">

    <!-- 数据表格 -->
    <div class="table-box">

        <!--工具栏-->
        <div class="pull-left">
            <div class="form-group form-inline">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
                </div>
            </div>
        </div>
        <div class="box-tools pull-right">
                工号：<input type="text" ng-model="searchEntity.empId">
                姓名：<input type="text" ng-model="searchEntity.name">
                <button class="btn btn-default" ng-click="reloadList()">查询</button>
            </div>

        </div>
        <!--工具栏/-->

        <!--数据列表-->
        <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
            <thead>
            <tr>
                <th class="" style="padding-right:0px">
                    <input id="selall" type="checkbox" class="icheckbox_square-blue">
                </th>
                <th class="sorting">工号</th>
                <th class="sorting">姓名</th>
                <th class="sorting">性别</th>
                <th class="sorting">身份证</th>
                <th class="sorting">电话号</th>
                <th class="sorting">状态</th>
                <th class="sorting">所在地</th>

                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="entity in list">
                <td><input  type="checkbox" ng-click="updateSelection($event,entity.userid)"></td>
                <td>{{entity.empId}}</td>
                <td>{{entity.name}}</td>
                <td>{{entity.sex}}</td>
                <td>{{entity.paperId}}</td>
                <td>{{entity.mobile}}</td>
                <td>{{entity.state}}</td>
                <td>{{entity.nativePlace}}</td>
                <td class="text-center" >
                    <button ng-if="isShow[$index]" type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal" ng-click="findOne(entity.empId)" >获取绑定码</button>
                    <button type="button" class="btn bg-blue btn-xs"  ng-click="updateByEmpid(entity.empId)">解绑</button>
                </td>
            </tr>
            </tbody>
        </table>
        <!--数据列表/-->
    </div>
    <!-- 数据表格 /-->
    <!-- 分页 -->
   <!-- <tm-pagination conf="paginationConf"></tm-pagination>-->
</div>
<!-- /.box-body -->

<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">通过绑定码绑定员工</h3>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped"  width="800px">
                    <tr>
                        <td>工号</td>

                        <td><input  class="form-control" ng-model="entity.empId" placeholder="工号" readonly  unselectable="on" ></td>

                    </tr>
                    <tr>

                        <td>姓名</td>

                        <td><input  class="form-control" ng-model="entity.name" placeholder="姓名" readonly  unselectable="on" ></td>

                    </tr>
                    <tr>

                        <td>性别</td>

                        <td><input  class="form-control" ng-model="entity.sex" placeholder="性别" readonly  unselectable="on" ></td>

                    </tr>
                    <tr>

                        <td>电话号</td>

                        <td><input  class="form-control" ng-model="entity.mobile" placeholder="电话号" readonly  unselectable="on" ></td>

                    </tr>
                    <tr>

                        <td>身份证</td>

                        <td><input  class="form-control" ng-model="entity.paperId" placeholder="身份证" readonly  unselectable="on" ></td>

                    </tr>
                    <tr>

                        <td>状态</td>

                        <td><input  class="form-control" ng-model="entity.state" placeholder="状态" readonly  unselectable="on" ></td>

                    </tr>
                    <tr>
                        <td>所在地</td>
                        <td><input  class="form-control" ng-model="entity.nativePlace" placeholder="所在地" readonly unselectable="on" ></td>

                    </tr>
                    <tr>
                        <td>绑定码</td>
                        <td><input  class="form-control" ng-model="wxcode" placeholder="绑定码" readonly  unselectable="on" style="color: #f00;" ></td>

                    </tr>
<!--                    <tr>-->
<!--                        <td>头像</td>-->
<!--                        <td><img src="entity.url"></td>-->

<!--                    </tr>-->
                </table>
            </div>
            <div class="modal-footer">
<!--                <button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="">获取头像</button>-->
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>
